<form [formGroup]="loginForm"
      (ngSubmit)="login()">

  <div class="form-group">
    <input type="text"
           name="username"
           placeholder="Login"
           formControlName="username"
           class="form-control">
  </div>

  <div class="form-group">
    <input type="password"
           name="password"
           placeholder="Password"
           formControlName="password"
           class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Login</button>
</form>
