.profile{
  margin: 16px 0;
  background-color: #f5f3f4;
  border: 1px solid #ddd;
  padding: 16px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 100;
  text-align: center;
  border-radius: 16px;
  form{
    align-items: center;
    input, select{
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 100;
    }
    input, select{
      width: 300px;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 100;
      border:1px solid #b3cccc;
      outline-color: #b3cccc;
      display: inline-block;
    }
  }
}
.profile-title{
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 100;
  font-size: 25px;
  margin-bottom: 16px;
}
.form-control{
  width: 250px;
}
.form-grout-title {
  margin-bottom: 14px;
  text-align: center;
}
.error{
  display: none;;
  color: red;
}
.has-error{
  display: block;
}
.profile-photo{
  width:150px;
  height: 150px;
  text-align: center;
  display: inline-block;
  img{
    width: 100%;
    border: 5px solid #fff;
  }
}
.profile-label{
  display: inline-block;
  width: 160px;
  text-align: left;
}
.input-block{
  display: inline-block;
  vertical-align: top;
}