<div class="container">
  <div class="row">
    <div class="offset-1 col-lg-10">
      <div class="profile">
        <div class="profile-title">Profile</div>
        <form (ngSubmit)="login()"
              [formGroup]="profileForm">
          <div class="row">
            <div class="col-lg-3">
              <div class="profile-photo">
                <img src="../../../../assets/images/no-photo.png" alt="">
              </div>
            </div>
            <div class="col-lg-9">
              <div class="form-grout-title">General information</div>
              <div class="form-group">
                <label class="profile-label"
                       for="firstName">Name</label>
                <div class="input-block">
                  <input type="text"
                         name="firstName"
                         class="form-control"
                         id="firstName"
                         [formControl]="profileForm.controls['firstName']">
                  <div class="error"
                       [ngClass]="{'has-error': !profileForm.controls['firstName'].valid &&
                                                 profileForm.controls['firstName'].touched}">
                    First name is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="profile-label"
                       for="lastName">Last name</label>
                <div class="input-block">
                  <input type="text"
                         name="lastName"
                         id="lastName"
                         class="form-control"
                         [formControl]="profileForm.controls['lastName']">
                  <div class="error"
                       [ngClass]="{'has-error': !profileForm.controls['lastName'].valid &&
                                                 profileForm.controls['lastName'].touched}">
                    Lastname is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="profile-label"
                       for="startDate">Start date</label>
                <div class="input-block">
                  <input type="date"
                         name="startDate"
                         id="startDate"
                         class="form-control"
                         [formControl]="profileForm.controls['startDate']">
                  <div class="error"
                       [ngClass]="{'has-error': !profileForm.controls['startDate'].valid &&
                                                 profileForm.controls['startDate'].touched}">
                    Start date is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="profile-label"
                       for="position">Position</label>
                <div class="input-block">
                  <select type="select"
                          name="position"
                          class="form-control"
                          id="position"
                          [formControl]="profileForm.controls['position']">
                    <option selected disabled>
                      Your position
                    </option>
                    <option value="frontend developer">
                      frontend developer
                    </option>
                    <option value="backend developer">
                      backend developer
                    </option>
                  </select>
                  <div class="error"
                       [ngClass]="{'has-error': !profileForm.controls['position'].valid &&
           profileForm.controls['position'].touched}">
                    Position is required
                  </div>
                </div>
              </div>
              <div class="contacs">
                <div class="form-grout-title">Contacts</div>
                <div class="form-group">
                  <label class="profile-label"
                         for="phone">Phone</label>
                  <input type="tel"
                         name="phone"
                         id="phone"
                         class="form-control"
                         placeholder=""
                         [formControl]="profileForm.controls['phone']">
                </div>
                <div class="form-group">
                  <label class="profile-label"
                         for="phone">Address</label>
                  <input type="text"
                         name="address"
                         id="address"
                         class="form-control"
                         placeholder=""
                         [formControl]="profileForm.controls['address']">
                </div>
                <div class="form-group">
                  <label class="profile-label"
                         for="skype">Skype</label>
                  <input type="text"
                         name="skype"
                         id="skype"
                         class="form-control"
                         placeholder=""
                         [formControl]="profileForm.controls['skype']">
                </div>
              </div>
              <div class="form-group">
                <button type="submit"
                        class="btn btn-primary"
                        [disabled]="!profileForm.valid">Send</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
