<div class="container">
  <div class="row">
    <div class="offset-1 col-lg-10">
      <div class="profile">
        <div class="profile-title">Profile</div>
        <form (ngSubmit)="sendForm()"
              [formGroup]="profileForm">
          <div class="row">
            <div class="col-lg-3">
              <div class="profile-photo">
                <img src="../../../../assets/images/no-photo.png" alt="">
              </div>
            </div>
            <div class="col-lg-9">
              <div class="form-group-title">General information</div>
              <!-- first name -->
              <div class="form-group">
                <label class="profile-label"
                       for="firstName">First name</label>
                <div class="input-block">
                  <input type="text"
                         name="firstName"
                         class="form-control"
                         id="firstName"
                         formControlName="firstName">
                  <div class="has-error"
                       *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                     First name is required
                  </div>
                </div>
              </div>
              <!-- middle name -->
              <div class="form-group">
                <label class="profile-label"
                       for="middleName">Middle name</label>
                <div class="input-block">
                  <input type="text"
                         name="middleName"
                         class="form-control"
                         id="middleName"
                         formControlName="middleName">
                  <div class="has-error"
                       *ngIf="middleName.invalid && (middleName.dirty || middleName.touched)">
                    Middle name is required
                  </div>
                </div>
              </div>
              <!-- last name -->
              <div class="form-group">
                <label class="profile-label"
                       for="lastName">Last name</label>
                <div class="input-block">
                  <input type="text"
                         name="lastName"
                         id="lastName"
                         class="form-control"
                         formControlName="lastName">
                  <div class="has-error"
                       *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                    Last name is required
                  </div>
                </div>
              </div>
              <!-- birthday -->
              <div class="form-group">
                <label class="profile-label"
                       for="birthday">Birthday</label>
                <div class="input-block">
                  <input
                    type="text"
                    id="birthday"
                    class="form-control"
                    bsDatepicker
                    formControlName="birthday">
                  <div class="has-error"
                       *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)">
                    Birthday is required
                  </div>
                </div>
              </div>
              <!-- work started -->
              <div class="form-group">
                <label class="profile-label"
                       for="workStarted">Start date</label>
                <div class="input-block">
                  <input
                    type="text"
                    id="workStarted"
                    class="form-control"
                    bsDatepicker
                    formControlName="workStarted">
                  <div class="error"
                       *ngIf="workStarted.invalid && (workStarted.dirty || workStarted.touched)">
                    Start date is required
                  </div>
                </div>
              </div>
              <!-- position -->
              <div class="form-group">
                <label class="profile-label"
                       for="position">Position</label>
                <div class="input-block">
                  <select type="select"
                          name="position"
                          class="form-control"
                          id="position"
                          formControlName="position">
                    <option selected disabled>
                      Your position
                    </option>
                    <option *ngFor="let position of positions" [value]="position.name">
                      {{ position.name }}
                    </option>
                  </select>
                  <div class="has-error"
                       *ngIf="position.invalid && (position.dirty || position.touched)">
                    Position is required
                  </div>
                </div>
              </div>

              <div class="form-group-title">Contacts</div>

              <!-- phoneNumber -->
              <div class="form-group">
                <label class="profile-label"
                       for="phoneNumber">Phone number</label>
                <div class="input-block">
                  <input type="tel"
                         name="phoneNumber"
                         id="phoneNumber"
                         class="form-control"
                         formControlName="phoneNumber"
                         placeholder="+7 (900) 000-00-00"
                         mask='+0 (000) 000-00-00'>
                  <div class="has-error"
                       *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
                    invalid phone number
                  </div>
                </div>
              </div>
              <!-- additionalPhoneNumber -->
              <div class="form-group">
                  <label class="profile-label"
                  for="additionalPhoneNumber">Additional phone</label>
                  <div class="input-block">
                    <input type="tel"
                           name="additionalPhoneNumber"
                           id="additionalPhoneNumber"
                           class="form-control"
                           formControlName="additionalPhoneNumber"
                           placeholder="+7 (900) 000-00-00"
                           mask='+0 (000) 000-00-00'>
                    <div class="has-error"
                         *ngIf="additionalPhoneNumber.invalid && (additionalPhoneNumber.dirty || additionalPhoneNumber.touched)">
                      invalid additional phone number
                    </div>
                  </div>
                </div>
              <!-- email -->
              <div class="form-group">
                <label class="profile-label"
                       for="email">Email</label>
                <div class="input-block">
                  <input type="text"
                         name="email"
                         id="email"
                         class="form-control"
                         placeholder="yourname@wis.software"
                         formControlName="email"
                         email
                         pattern="[a-zA-Z0-9.-_-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                  <div class="has-error" *ngIf="email.invalid && email.touched">
                    Invalid email
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button type="submit"
                        class="btn btn-primary"
                        [disabled]="!profileForm.valid">Send</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
